#slide-1995-parallax-wrapper {
  -skrollr-animation-name: animation-1995-main;
  -skrollr-anchor-target: "#slide-1995"; }

@-skrollr-keyframes animation-1995-main {
  skrollr-bottom-top {
    transform: translate3d(0px, 200%, 0px); }
  skrollr-0-top {
    transform: translate3d(0px, 100%, 0px); }
  skrollr--125p-top {
    transform: translate3d(0px, 100%, 0px); }
  skrollr--225p-top {
    transform: translate3d(0px, 0%, 0px); } }
  #slide-1995-parallax-wrapper .bike-1 {
    z-index: 3;
    -skrollr-animation-name: animation-1995-bike-1;
    -skrollr-anchor-target: "#slide-1995"; }
  #slide-1995-parallax-wrapper .bike-2 {
    z-index: 2;
    -skrollr-animation-name: animation-1995-bike-2;
    -skrollr-anchor-target: "#slide-1995"; }
  #slide-1995-parallax-wrapper .foreground {
    z-index: 4; }
  #slide-1995-parallax-wrapper .text-outer {
    z-index: 5;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%; }
  #slide-1995-parallax-wrapper .bike-1 {
    transform: translate3d(100%, 0px, 0px); }
  #slide-1995-parallax-wrapper .bike-2 {
    transform: translate3d(150%, 0px, 0px); }

@-skrollr-keyframes animation-1995-bike-1 {
  skrollr-0-top {
    transform: translate3d(100%, 0px, 0px); }
  skrollr--100p-top {
    transform: translate3d(0%, 0px, 0px); } }

@-skrollr-keyframes animation-1995-bike-2 {
  skrollr-0-top {
    transform: translate3d(150%, 0px, 0px); }
  skrollr--100p-top {
    transform: translate3d(0%, 0px, 0px); } }

#slide-1996-parallax-wrapper {
  -skrollr-animation-name: animation-1996-main;
  -skrollr-anchor-target: "#slide-1996"; }

@-skrollr-keyframes animation-1996-main {
  skrollr-bottom-top {
    transform: translate3d(0px, 200%, 0px); }
  skrollr-0-top {
    transform: translate3d(0px, 100%, 0px); }
  skrollr--125p-top {
    transform: translate3d(0px, 100%, 0px); }
  skrollr--225p-top {
    transform: translate3d(0px, 0%, 0px); } }
  #slide-1996-parallax-wrapper .bike-1 {
    z-index: 3;
    -skrollr-animation-name: animation-1996-bike-1;
    -skrollr-anchor-target: "#slide-1996"; }
  #slide-1996-parallax-wrapper .bike-2 {
    z-index: 2;
    -skrollr-animation-name: animation-1996-bike-2;
    -skrollr-anchor-target: "#slide-1996"; }
  #slide-1996-parallax-wrapper .foreground {
    z-index: 4; }
  #slide-1996-parallax-wrapper .text-outer {
    z-index: 5;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%; }
  #slide-1996-parallax-wrapper .bike-1 {
    transform: translate3d(-100%, 0px, 0px); }
  #slide-1996-parallax-wrapper .bike-2 {
    transform: translate3d(-150%, 0px, 0px); }

@-skrollr-keyframes animation-1996-bike-1 {
  skrollr-0-top {
    transform: translate3d(-100%, 0px, 0px); }
  skrollr--100p-top {
    transform: translate3d(0%, 0px, 0px); } }

@-skrollr-keyframes animation-1996-bike-2 {
  skrollr-0-top {
    transform: translate3d(-150%, 0px, 0px); }
  skrollr--100p-top {
    transform: translate3d(0%, 0px, 0px); } }

#slide-2005-parallax-wrapper {
  -skrollr-animation-name: animation-2005-main;
  -skrollr-anchor-target: "#slide-2005"; }

@-skrollr-keyframes animation-2005-main {
  skrollr-bottom-top {
    transform: translate3d(0px, 200%, 0px); }
  skrollr-0-top {
    transform: translate3d(0px, 100%, 0px); }
  skrollr--125p-top {
    transform: translate3d(0px, 100%, 0px); }
  skrollr--225p-top {
    transform: translate3d(0px, 0%, 0px); } }
  #slide-2005-parallax-wrapper .bike-1 {
    z-index: 3;
    -skrollr-animation-name: animation-2005-bike-1;
    -skrollr-anchor-target: "#slide-2005"; }
  #slide-2005-parallax-wrapper .bike-2 {
    z-index: 2;
    -skrollr-animation-name: animation-2005-bike-2;
    -skrollr-anchor-target: "#slide-2005"; }
  #slide-2005-parallax-wrapper .foreground {
    z-index: 4; }
  #slide-2005-parallax-wrapper .text-outer {
    z-index: 5;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%; }
  #slide-2005-parallax-wrapper .bike-1 {
    transform: translate3d(-175%, 0px, 0px); }
  #slide-2005-parallax-wrapper .bike-2 {
    transform: translate3d(-100%, 0px, 0px); }

@-skrollr-keyframes animation-2005-bike-1 {
  skrollr-0-top {
    transform: translate3d(-175%, 0px, 0px); }
  skrollr--100p-top {
    transform: translate3d(0%, 0px, 0px); } }

@-skrollr-keyframes animation-2005-bike-2 {
  skrollr-0-top {
    transform: translate3d(-100%, 0px, 0px); }
  skrollr--100p-top {
    transform: translate3d(0%, 0px, 0px); } }

#slide-2008-parallax-wrapper {
  -skrollr-animation-name: animation-2008-main;
  -skrollr-anchor-target: "#slide-2008"; }

@-skrollr-keyframes animation-2008-main {
  skrollr-bottom-top {
    transform: translate3d(0px, 200%, 0px); }
  skrollr-0-top {
    transform: translate3d(0px, 100%, 0px); }
  skrollr--125p-top {
    transform: translate3d(0px, 100%, 0px); }
  skrollr--225p-top {
    transform: translate3d(0px, 0%, 0px); } }
  #slide-2008-parallax-wrapper .bike-1 {
    z-index: 3;
    -skrollr-animation-name: animation-2008-bike-1;
    -skrollr-anchor-target: "#slide-2008"; }
  #slide-2008-parallax-wrapper .bike-2 {
    z-index: 2;
    -skrollr-animation-name: animation-2008-bike-2;
    -skrollr-anchor-target: "#slide-2008"; }
  #slide-2008-parallax-wrapper .foreground {
    z-index: 4; }
  #slide-2008-parallax-wrapper .text-outer {
    z-index: 5;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%; }
  #slide-2008-parallax-wrapper .bike-1 {
    transform: translate3d(-150%, 0px, 0px); }
  #slide-2008-parallax-wrapper .bike-2 {
    transform: translate3d(-100%, 0px, 0px); }

@-skrollr-keyframes animation-2008-bike-1 {
  skrollr-0-top {
    transform: translate3d(-150%, 0px, 0px); }
  skrollr--100p-top {
    transform: translate3d(0%, 0px, 0px); } }

@-skrollr-keyframes animation-2008-bike-2 {
  skrollr-0-top {
    transform: translate3d(-100%, 0px, 0px); }
  skrollr--100p-top {
    transform: translate3d(0%, 0px, 0px); } }

#slide-2010a-parallax-wrapper {
  -skrollr-animation-name: animation-2010a-main;
  -skrollr-anchor-target: "#slide-2010a"; }

@-skrollr-keyframes animation-2010a-main {
  skrollr-bottom-top {
    transform: translate3d(0px, 200%, 0px); }
  skrollr-0-top {
    transform: translate3d(0px, 100%, 0px); }
  skrollr--125p-top {
    transform: translate3d(0px, 100%, 0px); }
  skrollr--225p-top {
    transform: translate3d(0px, 0%, 0px); } }
  #slide-2010a-parallax-wrapper .bike-1 {
    z-index: 3;
    -skrollr-animation-name: animation-2010a-bike-1;
    -skrollr-anchor-target: "#slide-2010a"; }
  #slide-2010a-parallax-wrapper .bike-2 {
    z-index: 2;
    -skrollr-animation-name: animation-2010a-bike-2;
    -skrollr-anchor-target: "#slide-2010a"; }
  #slide-2010a-parallax-wrapper .foreground {
    z-index: 4; }
  #slide-2010a-parallax-wrapper .text-outer {
    z-index: 5;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%; }
  #slide-2010a-parallax-wrapper .bike-1 {
    transform: translate3d(-100%, 0px, 0px); }
  #slide-2010a-parallax-wrapper .bike-2 {
    transform: translate3d(-150%, 0px, 0px); }

@-skrollr-keyframes animation-2010a-bike-1 {
  skrollr-0-top {
    transform: translate3d(-100%, 0px, 0px); }
  skrollr--100p-top {
    transform: translate3d(0%, 0px, 0px); } }

@-skrollr-keyframes animation-2010a-bike-2 {
  skrollr-0-top {
    transform: translate3d(-150%, 0px, 0px); }
  skrollr--100p-top {
    transform: translate3d(0%, 0px, 0px); } }
