@font-face {
  font-family: 'Proxima Nova';
  src: url(http://cdn.citylab.com/static/citylab_connections/fonts/ProximaNova-Light.eot);
  /* IE9 Compat Modes */
  src: url(http://cdn.citylab.com/static/citylab_connections/fonts/ProximaNova-Light.eot?#iefix) format("embedded-opentype"), url(http://cdn.citylab.com/static/citylab_connections/fonts/ProximaNova-Light.woff2) format("woff2"), url(http://cdn.citylab.com/static/citylab_connections/fonts/ProximaNova-Light.woff) format("woff"), url(http://cdn.citylab.com/static/citylab_connections/fonts/ProximaNova-Light.ttf) format("truetype"), url(http://cdn.citylab.com/static/citylab_connections/fonts/ProximaNova-Light.svg#proxima_novalight) format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 200; }

@font-face {
  font-family: 'Proxima Nova';
  src: url(http://cdn.citylab.com/static/citylab_connections/fonts/ProximaNova-Regular.eot);
  /* IE9 Compat Modes */
  src: url(http://cdn.citylab.com/static/citylab_connections/fonts/ProximaNova-Regular.eot?#iefix) format("embedded-opentype"), url(http://cdn.citylab.com/static/citylab_connections/fonts/ProximaNova-Regular.woff2) format("woff2"), url(http://cdn.citylab.com/static/citylab_connections/fonts/ProximaNova-Regular.woff) format("woff"), url(http://cdn.citylab.com/static/citylab_connections/fonts/ProximaNova-Regular.ttf) format("truetype"), url(http://cdn.citylab.com/static/citylab_connections/fonts/ProximaNova-Regular.svg#proxima_novaregular) format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: 'Proxima Nova';
  src: url(http://cdn.citylab.com/static/citylab_connections/fonts/ProximaNova-Bold.eot);
  /* IE9 Compat Modes */
  src: url(http://cdn.citylab.com/static/citylab_connections/fonts/ProximaNova-Bold.eot?#iefix) format("embedded-opentype"), url(http://cdn.citylab.com/static/citylab_connections/fonts/ProximaNova-Bold.woff2) format("woff2"), url(http://cdn.citylab.com/static/citylab_connections/fonts/ProximaNova-Bold.woff) format("woff"), url(http://cdn.citylab.com/static/citylab_connections/fonts/ProximaNova-Bold.ttf) format("truetype"), url(http://cdn.citylab.com/static/citylab_connections/fonts/ProximaNova-Bold.svg#proxima_novabold) format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 700; }

html, body {
  overflow-x: hidden; }

html.no-django, body.no-django {
  padding: 0;
  margin: 0;
  min-height: 100%;
  font-size: 100%; }

html.no-django, body.no-django, .connections-phase {
  width: 100%;
  line-height: 1;
  vertical-align: baseline;
  font-family: 'Proxima Nova', sans-serif;
  color: #fff; }

.connections-rails-to-trails {
  background: #2d3091; }

.connections-recycling {
  background: #00724c; }

.connections-311 {
  background: #f05923; }

.connections-bike-share {
  background: #ff5a5f; }

.skrollable {
  position: fixed;
  /* First-level skrollables are positioned relative to window */
  z-index: 100;
  /* Skrollables by default have a z-index of 100 in order to make it easy to position elements in front/back without changing each skrollable */ }

.skrollr-mobile .skrollable {
  position: absolute;
  /* May cause issues on Android default browser (see #331 on GitHub). */ }

.skrollable .skrollable {
  position: absolute;
  /* Second-level skrollables are positioned relative their parent skrollable */ }

.skrollable .skrollable .skrollable {
  position: static;
  /* Third-level (and below) skrollables are positioned static */ }

.connections-phase {
  /*************/ }
  .connections-phase h1, .connections-phase h2, .connections-phase h3, .connections-phase h4, .connections-phase h5, .connections-phase h6 {
    font-family: 'Proxima Nova', sans-serif; }
  .connections-phase div, .connections-phase span, .connections-phase p, .connections-phase a, .connections-phase del, .connections-phase em, .connections-phase img, .connections-phase ol, .connections-phase ul, .connections-phase li, .connections-phase fieldset, .connections-phase form, .connections-phase label {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; }
  .connections-phase article, .connections-phase aside, .connections-phase details, .connections-phase figcaption, .connections-phase figure,
  .connections-phase footer, .connections-phase header, .connections-phase hgroup, .connections-phase menu, .connections-phase nav, .connections-phase section {
    display: block; }
  .connections-phase ol, .connections-phase ul {
    list-style: none; }
  .connections-phase .slide, .connections-phase .parallax-slide {
    width: 100vw;
    height: 100vh;
    padding-left: 10vmin;
    text-align: center;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 2.1vmin; }
  .connections-phase .slide > .inner,
  .connections-phase .parallax-slide > .inner {
    position: relative;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; }
  .connections-phase .slide h1,
  .connections-phase .parallax-slide h1 {
    margin-top: 0;
    font-size: 2.8em;
    position: relative;
    padding-bottom: 1.1em;
    display: inline-block; }
  .connections-phase .slide h1 .year,
  .connections-phase .parallax-slide h1 .year {
    position: absolute;
    top: 0;
    color: #0075ff;
    font-size: 1.6em;
    left: calc(50% - 1.2em); }
  .connections-phase .slide h1 .header,
  .connections-phase .parallax-slide h1 .header {
    position: relative;
    top: 1.2em;
    display: block;
    line-height: 0.85;
    text-transform: uppercase;
    z-index: 3; }
  .connections-phase .slide .text,
  .connections-phase .parallax-slide .text {
    position: relative;
    z-index: 2; }
  .connections-phase .slide .text p,
  .connections-phase .parallax-slide .text p,
  .connections-phase .slide .text .share {
    line-height: 1.6;
    margin-bottom: 2em;
    font-size: 1.2em; }
    @media (max-aspect-ratio: 2/3) and (max-width: 500px) {
      .connections-phase .slide .text p,
      .connections-phase .parallax-slide .text p,
      .connections-phase .slide .text .share {
        font-size: 1.8em; } }
    @media (max-width: 450px) {
      .connections-phase .slide .text p,
      .connections-phase .parallax-slide .text p,
      .connections-phase .slide .text .share {
        font-size: 1.7em; } }
    @media (max-width: 360px) {
      .connections-phase .slide .text p,
      .connections-phase .parallax-slide .text p,
      .connections-phase .slide .text .share {
        font-size: 2em; } }
  .connections-phase .slide .col-text p {
    line-height: 1.6;
    margin-bottom: 2em;
    font-size: 1.1em; }
    @media (max-width: 450px) {
      .connections-phase .slide .col-text p {
        font-size: 1.7em; } }
    @media (max-width: 360px) {
      .connections-phase .slide .col-text p {
        font-size: 2em; } }
  .connections-phase .ad-wrapper {
    width: 100vw; }
  .connections-phase .ad-wrapper .ad {
    padding: 30px 0;
    height: 150px; }
  .connections-phase .ad-wrapper .ad.ad-loaded {
    height: auto; }
  .connections-phase a {
    color: #fff; }
  .connections-phase a:focus, .connections-phase a:active {
    outline: none; }
  .connections-phase p a {
    background: #0075ff;
    text-decoration: underline;
    color: #fff;
    padding: 0.2em 0 0.2em 0.3em;
    margin: 0 -0.1em;
    line-height: 1;
    white-space: nowrap; }
    @media (max-width: 450px) {
      .connections-phase p a {
        white-space: normal; } }
  .connections-phase p a .after {
    content: ' ';
    display: inline-block;
    width: 1.3em;
    height: 0.7em;
    margin-bottom: 0.15em;
    background: url(http://cdn.citylab.com/static/citylab_connections/rails_to_trails/images/link_arrow@2x.png) no-repeat 0.3em 0;
    vertical-align: middle;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    -ms-behavior: url(http://cdn.citylab.com/static/citylab_connections/shared/backgroundsize.htc); }

.connections-recycling .slide h1 .year,
.connections-recycling .parallax-slide h1 .year {
  color: #00de32; }

.connections-recycling p a {
  background: #00de32; }

.connections-311 .slide h1 .year,
.connections-311 .parallax-slide h1 .year {
  color: #32323e; }

.connections-311 p a {
  background: #32323e; }

.connections-bike-share .slide h1 .year,
.connections-bike-share .parallax-slide h1 .year {
  color: #00ceff; }

.connections-bike-share p a {
  background: #8f30ff; }

.skrollr-desktop body {
  height: 100% !important; }

.parallax-image-wrapper {
  position: fixed;
  left: 0;
  width: 100%;
  overflow: hidden; }

.parallax-image-wrapper-50 {
  height: 50%;
  top: -50%; }

.parallax-image-wrapper-100 {
  height: 100%;
  top: -100%; }

.parallax-image {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.parallax-image-50 {
  height: 200%;
  top: -50%; }

.parallax-image-100 {
  height: 100%;
  top: 0; }

.parallax-image.skrollable-between {
  display: block; }

.skrollable-between .parallax-image {
  display: block; }

.no-skrollr .parallax-image-wrapper {
  display: none !important; }

.skrollr #skrollr-body {
  height: 100%;
  overflow: visible;
  position: relative; }

ul.connections-nav {
  position: relative;
  z-index: 5;
  width: 100%;
  height: 9vw;
  background: rgba(0, 0, 0, 0.45) url(http://cdn.citylab.com/static/citylab_connections/shared/images/connections_logo.svg) no-repeat 0 0;
  /* IE 8 hack */ }
  @media \0screen {
    ul.connections-nav {
      zoom: 1;
      filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#73000000', endColorstr='#73000000'); } }
  ul.connections-nav, ul.connections-nav li {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  ul.connections-nav li.before {
    width: 27.6vw;
    height: 9vw;
    background: url(http://cdn.citylab.com/static/citylab_connections/shared/images/connections_logo.png);
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    -ms-behavior: url(http://cdn.citylab.comhttp://cdn.citylab.com/static/citylab_connections/shared/backgroundsize.htc); }
  ul.connections-nav li.nav-item {
    position: absolute;
    top: 2.5vw;
    width: 18vw;
    height: 100%;
    height: 5vw;
    display: table; }
  ul.connections-nav li.nav-item > div,
  ul.connections-nav li.nav-item > a {
    position: relative;
    display: table;
    width: 90%;
    padding-left: 10%; }
  ul.connections-nav li.nav-item > div:before, ul.connections-nav li.nav-item > a:before {
    display: block;
    position: absolute;
    top: -1.3em;
    font-size: 11px;
    font-size: 1vw;
    text-transform: uppercase;
    font-weight: 200; }
  ul.connections-nav li.nav-item.part-1 > div:before, ul.connections-nav li.nav-item.part-1 > a:before {
    content: "Part 1"; }
  ul.connections-nav li.nav-item.part-2 > div:before, ul.connections-nav li.nav-item.part-2 > a:before {
    content: "Part 2"; }
  ul.connections-nav li.nav-item.part-3 > div:before, ul.connections-nav li.nav-item.part-3 > a:before {
    content: "Part 3"; }
  ul.connections-nav li.nav-item.part-4 > div:before, ul.connections-nav li.nav-item.part-4 > a:before {
    content: "Part 4"; }
  ul.connections-nav li.nav-item.coming-soon > div:before {
    content: "Coming Soon"; }
  ul.connections-nav li.nav-item span {
    display: table-cell;
    vertical-align: middle;
    height: 4vw;
    border: 1px solid #000;
    font-weight: 200;
    font-size: 1.2vw; }
  ul.connections-nav li.nav-item.current span {
    background: rgba(0, 0, 0, 0.3); }
    @media \0screen {
      ul.connections-nav li.nav-item.current span {
        zoom: 1;
        filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#4D000000', endColorstr='#4D000000'); } }
  ul.connections-nav li.nav-item.inactive span {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=45);
    opacity: 0.45; }
  ul.connections-nav li.nav-rails-to-trails {
    left: 27%; }
  ul.connections-nav li.nav-recycling {
    left: 44.5%; }
  ul.connections-nav li.nav-311 {
    left: 62%; }
  ul.connections-nav li.nav-bike-share {
    left: 80%; }
  ul.connections-nav li.nav-rails-to-trails span {
    color: #00fcff;
    border-color: #00fcff; }
  ul.connections-nav li.nav-311 span {
    color: #ffc549;
    border-color: #ffc549; }
  ul.connections-nav li.nav-recycling span {
    color: #00de32;
    border-color: #00de32; }
  ul.connections-nav li.nav-bike-share span {
    color: #ff636d;
    border-color: #ff636d; }
  @media (max-width: 600px) {
    .no-ie ul.connections-nav {
      height: 46vw;
      padding-top: 20vw;
      -webkit-background-size: 100% 20vw;
      -moz-background-size: 100% 20vw;
      -o-background-size: 100% 20vw;
      background-size: 100% 20vw;
      -ms-behavior: url(http://cdn.citylab.com/static/citylab_connections/shared/backgroundsize.htc); }
      .no-ie ul.connections-nav li.nav-item {
        position: static;
        margin-top: 2vw;
        margin-left: 5vw;
        margin-right: 5vw;
        width: 100vw; }
      .no-ie ul.connections-nav li.nav-item > div, .no-ie ul.connections-nav li.nav-item > a {
        width: 90vw;
        padding: 0; }
      .no-ie ul.connections-nav li.nav-item span {
        font-size: 3.7vw;
        height: 8.5vw; }
      .no-ie ul.connections-nav li.nav-item span br {
        display: none; }
      .no-ie ul.connections-nav li.nav-item.current span {
        font-weight: bold; }
      .no-ie ul.connections-nav li.nav-item.part-1 span:before {
        content: "PART 1: "; }
      .no-ie ul.connections-nav li.nav-item.part-2 span:before {
        content: "PART 2: "; }
      .no-ie ul.connections-nav li.nav-item.part-3 span:before {
        content: "PART 3: "; }
      .no-ie ul.connections-nav li.nav-item.part-4 span:before {
        content: "PART 4: "; }
      .no-ie ul.connections-nav li.nav-item.inactive span:before {
        content: "COMING SOON: "; }
      .no-ie ul.connections-nav li.nav-item > div:before,
      .no-ie ul.connections-nav li.nav-item > a:before {
        display: none; } }

#slide-credits {
  height: auto;
  padding-left: 0;
  -webkit-box-sizing: initial;
  -moz-box-sizing: initial;
  box-sizing: initial;
  font-size: 14px; }
  #slide-credits > .inner {
    width: 90%;
    left: 5%;
    right: 5%; }
  #slide-credits .presented-by {
    padding-top: 40px;
    text-align: center; }
  #slide-credits .presented-by .inner {
    margin: 0 auto;
    display: inline-block; }
  #slide-credits .presented-by .logo-jpmc {
    background: url(http://cdn.citylab.com/static/citylab_connections/shared/images/jpmc.png) no-repeat top left;
    width: 201px;
    height: 20px; }
  #slide-credits .credits {
    margin-top: 30px;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    color: #2896e1;
    display: table;
    padding-bottom: 35px; }
  #slide-credits .credits .credit a {
    color: #2896e1;
    text-decoration: underline;
    background: transparent;
    padding: 0;
    margin: 0; }
  #slide-credits .credits .credit p {
    margin-bottom: 1em; }
  #slide-credits .credits .credit {
    display: table-cell;
    width: 44%;
    padding: 0 3%; }

#timeline {
  top: 100%;
  margin-top: 180px;
  position: absolute;
  height: 100vh;
  width: 10vmin;
  z-index: 300;
  background: -owg-linear-gradient(to bottom, #80e7ff 0%, #009eff 100%);
  background: -webkit-linear-gradient(to bottom, #80e7ff 0%, #009eff 100%);
  background: -moz-linear-gradient(to bottom, #80e7ff 0%, #009eff 100%);
  background: -o-linear-gradient(to bottom, #80e7ff 0%, #009eff 100%);
  background: linear-gradient(to bottom, #80e7ff 0%, #009eff 100%);
  display: table;
  overflow: visible;
  padding-right: 1px; }

@media (max-width: 500px) {
  #timeline {
    display: none; }
  .slide, .parallax-slide {
    padding-left: 0 !important; } }

#timeline .inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  display: table;
  vertical-align: middle; }

.no-ie #timeline .inner {
  position: static; }

#timeline .inner .inner-gradient {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF80E7FF', endColorstr='#FF009EFF');
  height: 100%; }

#timeline ul.markers {
  display: table-cell;
  vertical-align: middle; }

#timeline ul.markers, #timeline li.marker {
  list-style-type: none;
  margin: 0; }

#timeline li.marker {
  display: block;
  font-size: 0.6vh;
  margin-bottom: 3.75em;
  width: 1.5em;
  height: 1.5em;
  position: relative;
  margin-left: 6.5vmin;
  margin-right: auto;
  z-index: 5; }

#timeline li.marker.active {
  margin-bottom: 2.75em; }

#timeline li.marker.inactive {
  font-size: 0.3vh; }

#timeline li.marker > div {
  display: inline-block;
  font-size: 2em;
  left: -100em;
  background: url(http://cdn.citylab.com/static/citylab_connections/rails_to_trails/images/timeline-arrow-left.png) no-repeat 0 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -ms-behavior: url(http://cdn.citylab.com/static/citylab_connections/shared/backgroundsize.htc);
  height: 4em;
  position: absolute;
  white-space: nowrap;
  color: #0075ff;
  padding-right: 0;
  top: -1.6em;
  z-index: 4; }

#timeline li.marker.current .marker-label {
  left: 0; }

#timeline li.marker.current.current-a .marker-label,
#timeline li.marker.current.current-b .marker-label,
#timeline li.marker.current.current-c .marker-label {
  left: -100em; }

#timeline li.marker.current.current-a .marker-label.marker-label-0,
#timeline li.marker.current.current-b .marker-label.marker-label-1,
#timeline li.marker.current.current-c .marker-label.marker-label-2 {
  left: 0; }

#timeline li.marker div > span {
  position: relative;
  padding-left: 1.9em;
  padding-top: 1.6em;
  display: inline-block;
  z-index: 5;
  margin-right: -0.5em;
  width: 3em; }

#timeline li.marker div > span > .after {
  display: inline-block;
  position: absolute;
  height: 4em;
  background: url(http://cdn.citylab.com/static/citylab_connections/rails_to_trails/images/timeline-arrow-right.png) no-repeat top right;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -ms-behavior: url(http://cdn.citylab.com/static/citylab_connections/shared/backgroundsize.htc);
  width: 2.9em;
  right: -2.4em;
  top: 0;
  z-index: -1; }

.ie8 #timeline li.marker div > span > .after {
  width: 3.2em;
  right: -2.7em; }

#timeline li.marker > a {
  font-weight: normal;
  text-decoration: none;
  font-size: 2.6em;
  line-height: 1;
  display: block;
  position: absolute;
  top: 0.1em;
  left: -3.1em;
  width: 2.9em;
  text-align: center; }

#timeline li.marker:before {
  content: '\25cb';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 1em;
  height: 1em;
  font-size: 1.75em; }

#timeline li.marker.inactive:before {
  font-size: 3.5em;
  width: 0.5em;
  height: 0.5em; }
  html.ie9 #timeline li.marker.inactive:before {
    top: -0.3em; }

#timeline li.marker.active:before {
  content: '\25cf';
  font-size: 2.75em;
  right: -0.3em; }
  html.ie9 #timeline li.marker.active:before {
    top: -0.3em;
    right: -0.4em; }

.ie8 #timeline li.marker {
  font-size: 0.6vh;
  border-radius: 1.75em;
  border: 1px solid #fff;
  width: 1.75em;
  height: 1.75em;
  -ms-behavior: url(http://cdn.citylab.com/static/citylab_connections/shared/PIE.htc); }

.ie8 #timeline li.marker.inactive {
  font-size: 0.15vh;
  top: -0.75em;
  left: 1.85em; }

.ie8 #timeline li.marker > a {
  z-index: 300;
  font-size: 3.5em;
  top: -0.5em;
  left: -3em; }

.ie8 #timeline li.marker > div {
  font-size: 3.5em;
  top: -2.1em; }

.ie8 #timeline li.marker.active {
  border-width: 1em;
  width: 0;
  height: 0; }

.ie8 #timeline li.marker:before {
  display: none !important; }

#slide-closer {
  min-height: 470px; }
  #slide-closer > .inner > .before {
    content: ' ';
    line-height: 0;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8;
    background: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/opener-1920.jpg) no-repeat 50% 50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -ms-behavior: url(http://cdn.citylab.com/static/citylab_connections/shared/backgroundsize.htc); }
    @media (max-width: 768px), (max-height: 432px) {
      #slide-closer > .inner > .before {
        background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/opener-768.jpg); } }
    @media (max-width: 960px) and (min-width: 769px), (max-height: 540px) and (min-height: 433px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 480px), (-webkit-min-device-pixel-ratio: 2) and (max-height: 270px) {
      #slide-closer > .inner > .before {
        background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/opener-960.jpg); } }
    @media (max-width: 1280px) and (min-width: 961px), (max-height: 720px) and (min-height: 541px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 640px) and (min-width: 481px), (-webkit-min-device-pixel-ratio: 2) and (max-height: 360px) and (min-height: 271px) {
      #slide-closer > .inner > .before {
        background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/opener-1280.jpg); } }
    @media (max-width: 1440px) and (min-width: 1281px), (max-height: 810px) and (min-height: 721px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 720px) and (min-width: 641px), (-webkit-min-device-pixel-ratio: 2) and (max-height: 405px) and (min-height: 361px) {
      #slide-closer > .inner > .before {
        background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/opener-1440.jpg); } }
    @media (-webkit-min-device-pixel-ratio: 2) and (min-width: 721px), (-webkit-min-device-pixel-ratio: 2) and (min-height: 406px) {
      #slide-closer > .inner > .before {
        background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/opener-1920.jpg); } }
  #slide-closer #back-to-top {
    display: inline-block;
    position: relative;
    color: #00fcff;
    padding: 4em 0 0;
    margin: 0 auto;
    background: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/arrow_up.svg) no-repeat 50% 1.5em;
    background-size: 8em 1.5em;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.07em;
    z-index: 4; }
  .ie8 #slide-closer #back-to-top {
    padding-top: 2.5em; }
  #slide-closer #back-to-top > .before {
    height: 34px;
    width: 105px;
    margin: 0 auto;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://cdn.citylab.com/static/citylab_connections/bike_share/images/arrow_up.png?v=1', sizingMethod='image');
    padding-bottom: 10px; }
  #slide-closer .text {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2; }
  #slide-closer p {
    line-height: 1.5;
    padding-top: 13vmin; }
  #slide-closer p, #slide-closer .links a {
    font-weight: 200; }
  #slide-closer .links a {
    background: transparent;
    text-decoration: none; }
  #slide-closer p, #slide-closer .links {
    font-size: 17px;
    width: 80vmin;
    min-width: 40vw;
    margin: 0 auto; }
  @media (max-height: 700px) and (max-width: 400px) {
    #slide-closer p, #slide-closer .links {
      width: auto;
      min-width: 90vmin;
      font-size: 16px;
      max-width: 90%; } }
  @media (max-height: 700px) and (max-width: 980px) {
    #slide-closer p, #slide-closer .links {
      width: auto;
      min-width: 90vmin;
      font-size: 14px;
      max-width: 90%; } }
  #slide-closer p.correction {
    padding-top: 4vmin;
    width: auto;
    min-width: 90vmin;
    max-width: 90%; }
  #slide-closer p.correction span {
    font-style: italic;
    font-size: 0.8em;
    line-height: 1.4; }
  #slide-closer .links {
    margin-top: 4vmin; }
  #slide-closer .links a {
    position: relative;
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 100%; }
  #slide-closer .links a > .before {
    position: absolute;
    top: 0;
    left: 10%;
    right: 10%;
    width: 80%;
    height: 80%; }
  #slide-closer .links a span {
    display: inline-block;
    position: relative;
    margin: 90% auto 0 auto;
    width: 80%;
    white-space: normal; }
  #slide-closer .share {
    font-weight: bold; }
    #slide-closer .share li:before {
      font-weight: normal; }
  #slide-closer .share li {
    display: inline-block;
    line-height: 1.25;
    border: 1px solid white;
    width: 7em;
    height: 1em;
    padding: 1em 0;
    margin: 5vh 0.5vw 0 0.5vw;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.25);
    overflow: hidden; }
    @media \0screen {
      #slide-closer .share li {
        zoom: 1;
        filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#40000000', endColorstr='#40000000'); } }
    @media (max-width: 361px) {
      #slide-closer .share li {
        width: 6.5em; } }
  #slide-closer .share .facebook:before,
  #slide-closer .share .twitter:before {
    background: white;
    color: blue;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    display: inline-block;
    margin-right: 9px;
    line-height: 2;
    margin-top: -0.75em;
    position: relative; }
  #slide-closer .share .facebook:before {
    color: #3d5ba8; }
  #slide-closer .share .twitter:before {
    color: #24abe2; }
  #slide-closer .share .with-logo a {
    background: url(http://cdn.citylab.com/static/citylab/img/logos/logo.svg);
    padding: 1em 1.5em;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    color: transparent; }
  .ie8 #slide-closer .share a {
    color: white !important; }
    .ie8 #slide-closer .share a:before {
      color: white;
      background: transparent;
      padding: 0;
      margin-right: 0; }

.connections-phase .slide .text p,
.connections-phase .parallax-slide .text p,
.connections-phase .slide .text .share {
  margin-bottom: 1.2em; }
  @media (min-width: 800px) and (min-height: 600px) {
    .connections-phase .slide .text p,
    .connections-phase .parallax-slide .text p,
    .connections-phase .slide .text .share {
      font-size: 16px; } }
  .connections-phase .slide .text p:last-child,
  .connections-phase .parallax-slide .text p:last-child,
  .connections-phase .slide .text .share:last-child {
    margin-bottom: 0; }

#slide-opener {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  margin-left: 0;
  padding-left: 0;
  width: 100vw;
  background: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/opener-1920.jpg) no-repeat 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -ms-behavior: url(http://cdn.citylab.com/static/citylab_connections/shared/backgroundsize.htc); }
  @media (max-width: 768px), (max-height: 432px) {
    #slide-opener {
      background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/opener-768.jpg); } }
  @media (max-width: 960px) and (min-width: 769px), (max-height: 540px) and (min-height: 433px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 480px), (-webkit-min-device-pixel-ratio: 2) and (max-height: 270px) {
    #slide-opener {
      background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/opener-960.jpg); } }
  @media (max-width: 1280px) and (min-width: 961px), (max-height: 720px) and (min-height: 541px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 640px) and (min-width: 481px), (-webkit-min-device-pixel-ratio: 2) and (max-height: 360px) and (min-height: 271px) {
    #slide-opener {
      background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/opener-1280.jpg); } }
  @media (max-width: 1440px) and (min-width: 1281px), (max-height: 810px) and (min-height: 721px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 720px) and (min-width: 641px), (-webkit-min-device-pixel-ratio: 2) and (max-height: 405px) and (min-height: 361px) {
    #slide-opener {
      background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/opener-1440.jpg); } }
  @media (-webkit-min-device-pixel-ratio: 2) and (min-width: 721px), (-webkit-min-device-pixel-ratio: 2) and (min-height: 406px) {
    #slide-opener {
      background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/opener-1920.jpg); } }
  #slide-opener .text {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2; }
  #slide-opener h1 {
    font-size: 9vmin;
    color: #fff;
    margin: 5vmin 0 4vmin 0;
    letter-spacing: 0.1em;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0; }
    @media (max-width: 800px) {
      #slide-opener h1 {
        margin-top: 10vmin; } }
  #slide-opener p {
    font-size: 17px;
    line-height: 1.5;
    font-weight: 200;
    width: 90vmin;
    margin: 0 auto; }
  @media (max-height: 600px) and (max-width: 400px) {
    #slide-opener p {
      width: auto;
      min-width: 90vmin;
      font-size: 16px;
      max-width: 90%; } }
  @media (max-height: 600px) and (max-width: 980px) {
    #slide-opener p {
      width: auto;
      min-width: 90vmin;
      font-size: 14px;
      max-width: 90%; } }
  @media all and (orientation: landscape) and (max-height: 420px) and (min-width: 480px) {
    #slide-opener h1 {
      margin-top: 8vmin;
      font-size: 8vmin; }
    #slide-opener p {
      font-size: 13px; } }
  @media all and (orientation: landscape) and (max-height: 320px) and (min-width: 480px) {
    #slide-opener p {
      font-size: 11px; } }
  #slide-opener .author {
    display: block;
    text-transform: uppercase;
    font-size: 0.9em;
    line-height: 2; }
  #slide-opener #scroll-more {
    color: #00ceff;
    position: absolute;
    bottom: 5vh;
    padding-top: 6em;
    width: 100%;
    margin: 0 auto;
    background: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/arrow_down.svg) no-repeat 50% 4em;
    background-size: 15em 1.5em;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.07em;
    z-index: 4; }
  #slide-opener #scroll-more > .before {
    height: 34px;
    width: 105px;
    margin: 0 auto;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/citylab_connections/bike_share/images/arrow_down.png?v=1', sizingMethod='image');
    padding-bottom: 10px; }
  #slide-opener #presented-by {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 290px;
    height: 5vh; }
  #slide-opener #presented-by div {
    display: inline-block;
    height: 20px;
    width: 290px;
    vertical-align: middle;
    background: url(http://cdn.citylab.com/static/citylab_connections/shared/images/logo.png) no-repeat 0 0;
    margin-top: calc(2.5vh - 10px);
    margin-left: 2vw; }
  @media (max-width: 480px) {
    #slide-opener {
      min-height: 820px; } }
  @media (max-width: 400px) {
    #slide-opener {
      min-height: 780px; } }
  @media (max-width: 600px) and (min-width: 460px) {
    #slide-opener {
      height: 100vh;
      padding-bottom: 66vw; } }
  @media (max-width: 480px) {
    .connections-311 #slide-opener {
      min-height: 840px; } }
  @media (min-width: 968px) {
    .connections-311 #slide-opener {
      min-height: 700px; } }

#slide-1996, #slide-2015 {
  background: #8f30ff; }

#slide-credits {
  background: #660066; }

#slide-credits .credits, #slide-credits .credits .credit a {
  color: #ff5a5f; }

#slide-1965 > .inner {
  display: table; }

#slide-1965 > .inner > .before {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  width: 60vw;
  height: 100vh;
  background: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/1965_photo_square-1220.jpg) no-repeat 50% 50%;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  -ms-behavior: url(http://cdn.citylab.com/static/citylab_connections/shared/backgroundsize.htc); }
  @media (max-width: 768px), (max-height: 488px) {
    #slide-1965 > .inner > .before {
      background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/1965_photo_square-488.jpg); } }
  @media (max-width: 960px) and (min-width: 769px), (max-height: 610px) and (min-height: 489px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 480px), (-webkit-min-device-pixel-ratio: 2) and (max-height: 305px) {
    #slide-1965 > .inner > .before {
      background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/1965_photo_square-610.jpg); } }
  @media (max-width: 1280px) and (min-width: 961px), (max-height: 814px) and (min-height: 611px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 640px) and (min-width: 481px), (-webkit-min-device-pixel-ratio: 2) and (max-height: 406px) and (min-height: 306px) {
    #slide-1965 > .inner > .before {
      background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/1965_photo_square-814.jpg); } }
  @media (max-width: 1440px) and (min-width: 1281px), (max-height: 916px) and (min-height: 815px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 720px) and (min-width: 641px), (-webkit-min-device-pixel-ratio: 2) and (max-height: 457px) and (min-height: 406px) {
    #slide-1965 > .inner > .before {
      background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/1965_photo_square-916.jpg); } }
  @media (-webkit-min-device-pixel-ratio: 2) and (min-width: 721px), (-webkit-min-device-pixel-ratio: 2) and (min-height: 458px) {
    #slide-1965 > .inner > .before {
      background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/1965_photo_square-1220.jpg); } }

#slide-1965 > .inner > .before > .before-inner {
  width: 60vw;
  height: 100vh;
  background: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/1965_photo_square-1220.jpg) no-repeat 50% 50%;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  -ms-behavior: url(http://cdn.citylab.com/static/citylab_connections/shared/backgroundsize.htc); }
  @media (max-width: 768px), (max-height: 488px) {
    #slide-1965 > .inner > .before > .before-inner {
      background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/1965_photo_square-488.jpg); } }
  @media (max-width: 960px) and (min-width: 769px), (max-height: 610px) and (min-height: 489px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 480px), (-webkit-min-device-pixel-ratio: 2) and (max-height: 305px) {
    #slide-1965 > .inner > .before > .before-inner {
      background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/1965_photo_square-610.jpg); } }
  @media (max-width: 1280px) and (min-width: 961px), (max-height: 814px) and (min-height: 611px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 640px) and (min-width: 481px), (-webkit-min-device-pixel-ratio: 2) and (max-height: 406px) and (min-height: 306px) {
    #slide-1965 > .inner > .before > .before-inner {
      background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/1965_photo_square-814.jpg); } }
  @media (max-width: 1440px) and (min-width: 1281px), (max-height: 916px) and (min-height: 815px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 720px) and (min-width: 641px), (-webkit-min-device-pixel-ratio: 2) and (max-height: 457px) and (min-height: 406px) {
    #slide-1965 > .inner > .before > .before-inner {
      background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/1965_photo_square-916.jpg); } }
  @media (-webkit-min-device-pixel-ratio: 2) and (min-width: 721px), (-webkit-min-device-pixel-ratio: 2) and (min-height: 458px) {
    #slide-1965 > .inner > .before > .before-inner {
      background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/1965_photo_square-1220.jpg); } }

#slide-1965 .text {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  padding-right: 5vw;
  width: 40vw;
  text-align: left; }

#slide-1965 .year {
  left: 0 !important; }

#slide-1995 .text, #slide-1995-parallax .text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; }

#slide-1995 .text .inner, #slide-1995-parallax .text .inner {
  margin-top: -10vh;
  padding: 0 5vw 5vh 5vw; }

#slide-1995 > .inner > .before,
#slide-1995 > .inner > .background,
#slide-1995 > .inner > .bike-1,
#slide-1995 > .inner > .bike-2, #slide-1995-parallax > .inner > .before,
#slide-1995-parallax > .inner > .background,
#slide-1995-parallax > .inner > .bike-1,
#slide-1995-parallax > .inner > .bike-2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: transparent url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/1995_all.png) no-repeat 50% 10%;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  -ms-behavior: url(http://cdn.citylab.com/static/citylab_connections/shared/backgroundsize.htc); }
  html.mdzr-no-svg #slide-1995 > .inner > .before,
  html.ie9 #slide-1995 > .inner > .before,
  html.mdzr-no-svg #slide-1995 > .inner > .background,
  html.ie9 #slide-1995 > .inner > .background,
  html.mdzr-no-svg #slide-1995 > .inner > .bike-1,
  html.ie9 #slide-1995 > .inner > .bike-1,
  html.mdzr-no-svg #slide-1995 > .inner > .bike-2, html.ie9 #slide-1995 > .inner > .bike-2, html.mdzr-no-svg #slide-1995-parallax > .inner > .before,
  html.ie9 #slide-1995-parallax > .inner > .before,
  html.mdzr-no-svg #slide-1995-parallax > .inner > .background,
  html.ie9 #slide-1995-parallax > .inner > .background,
  html.mdzr-no-svg #slide-1995-parallax > .inner > .bike-1,
  html.ie9 #slide-1995-parallax > .inner > .bike-1,
  html.mdzr-no-svg #slide-1995-parallax > .inner > .bike-2, html.ie9 #slide-1995-parallax > .inner > .bike-2 {
    background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/1995_all.png); }

#slide-1995 > .inner > .background, #slide-1995-parallax > .inner > .background {
  background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/1995_01.svg); }

#slide-1995 > .inner > .bike-1, #slide-1995-parallax > .inner > .bike-1 {
  background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/1995_02.svg); }

#slide-1995 > .inner > .bike-2, #slide-1995-parallax > .inner > .bike-2 {
  background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/1995_03.svg); }

@media (max-aspect-ratio: 9/8) {
  #slide-1995 {
    height: 85vh; } }

@media (max-aspect-ratio: 2/3) {
  #slide-1995 {
    height: 75vh; } }

.skrollr #slide-1995 {
  height: 225vh !important; }
  .skrollr #slide-1995 > .inner {
    display: none; }

#slide-1996 .text, #slide-1996-parallax .text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; }

#slide-1996 .text .inner, #slide-1996-parallax .text .inner {
  margin-top: -10vh;
  padding: 0 5vw 5vh 5vw; }

#slide-1996 > .inner > .before,
#slide-1996 > .inner > .background,
#slide-1996 > .inner > .bike-1,
#slide-1996 > .inner > .bike-2, #slide-1996-parallax > .inner > .before,
#slide-1996-parallax > .inner > .background,
#slide-1996-parallax > .inner > .bike-1,
#slide-1996-parallax > .inner > .bike-2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: transparent url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/1996_all.svg) no-repeat 50% 10%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -ms-behavior: url(http://cdn.citylab.com/static/citylab_connections/shared/backgroundsize.htc); }
  @media (max-aspect-ratio: 1920/1220) {
    #slide-1996 > .inner > .before,
    #slide-1996 > .inner > .background,
    #slide-1996 > .inner > .bike-1,
    #slide-1996 > .inner > .bike-2, #slide-1996-parallax > .inner > .before,
    #slide-1996-parallax > .inner > .background,
    #slide-1996-parallax > .inner > .bike-1,
    #slide-1996-parallax > .inner > .bike-2 {
      -webkit-background-size: contain;
      -moz-background-size: contain;
      -o-background-size: contain;
      background-size: contain;
      -ms-behavior: url(http://cdn.citylab.com/static/citylab_connections/shared/backgroundsize.htc); } }
  html.mdzr-no-svg #slide-1996 > .inner > .before,
  html.ie9 #slide-1996 > .inner > .before,
  html.mdzr-no-svg #slide-1996 > .inner > .background,
  html.ie9 #slide-1996 > .inner > .background,
  html.mdzr-no-svg #slide-1996 > .inner > .bike-1,
  html.ie9 #slide-1996 > .inner > .bike-1,
  html.mdzr-no-svg #slide-1996 > .inner > .bike-2, html.ie9 #slide-1996 > .inner > .bike-2, html.mdzr-no-svg #slide-1996-parallax > .inner > .before,
  html.ie9 #slide-1996-parallax > .inner > .before,
  html.mdzr-no-svg #slide-1996-parallax > .inner > .background,
  html.ie9 #slide-1996-parallax > .inner > .background,
  html.mdzr-no-svg #slide-1996-parallax > .inner > .bike-1,
  html.ie9 #slide-1996-parallax > .inner > .bike-1,
  html.mdzr-no-svg #slide-1996-parallax > .inner > .bike-2, html.ie9 #slide-1996-parallax > .inner > .bike-2 {
    background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/1996_all.png); }

#slide-1996 > .inner > .background, #slide-1996-parallax > .inner > .background {
  background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/1996_01.svg); }

#slide-1996 > .inner > .bike-1, #slide-1996-parallax > .inner > .bike-1 {
  background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/1996_02.svg); }

#slide-1996 > .inner > .bike-2, #slide-1996-parallax > .inner > .bike-2 {
  background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/1996_03.svg); }

@media (max-aspect-ratio: 9/8) {
  #slide-1996 {
    height: 85vh; } }

@media (max-aspect-ratio: 2/3) {
  #slide-1996 {
    height: 65vh; } }

.skrollr #slide-1996 {
  height: 225vh !important; }
  .skrollr #slide-1996 > .inner {
    display: none; }

#slide-1998 .text {
  position: absolute;
  z-index: auto;
  display: table;
  text-align: left;
  height: 100vh;
  top: 0;
  padding: 0 3vw;
  width: 26vw;
  right: 0;
  background: rgba(0, 0, 0, 0.5); }
  @media \0screen {
    #slide-1998 .text {
      zoom: 1;
      filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#80000000', endColorstr='#80000000'); } }

#slide-1998 .text .year {
  left: 0 !important; }

#slide-1998 .text .inner {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  z-index: 5; }

@media (max-aspect-ratio: 9/8) {
  #slide-1998 .text {
    width: 36.4vw; } }

@media (max-aspect-ratio: 2/3) and (max-width: 500px) {
  #slide-1998 .text {
    width: 46.8vw; } }

#slide-1998 > .inner > .before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/1998_avelo-1920.jpg) no-repeat 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -ms-behavior: url(http://cdn.citylab.com/static/citylab_connections/shared/backgroundsize.htc); }
  @media (max-width: 768px), (max-height: 488px) {
    #slide-1998 > .inner > .before {
      background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/1998_avelo-768.jpg); } }
  @media (max-width: 960px) and (min-width: 769px), (max-height: 610px) and (min-height: 489px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 480px), (-webkit-min-device-pixel-ratio: 2) and (max-height: 305px) {
    #slide-1998 > .inner > .before {
      background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/1998_avelo-960.jpg); } }
  @media (max-width: 1280px) and (min-width: 961px), (max-height: 813px) and (min-height: 611px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 640px) and (min-width: 481px), (-webkit-min-device-pixel-ratio: 2) and (max-height: 406px) and (min-height: 306px) {
    #slide-1998 > .inner > .before {
      background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/1998_avelo-1280.jpg); } }
  @media (max-width: 1440px) and (min-width: 1281px), (max-height: 915px) and (min-height: 814px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 720px) and (min-width: 641px), (-webkit-min-device-pixel-ratio: 2) and (max-height: 457px) and (min-height: 406px) {
    #slide-1998 > .inner > .before {
      background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/1998_avelo-1440.jpg); } }
  @media (-webkit-min-device-pixel-ratio: 2) and (min-width: 721px), (-webkit-min-device-pixel-ratio: 2) and (min-height: 458px) {
    #slide-1998 > .inner > .before {
      background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/1998_avelo-1920.jpg); } }

#slide-2005 .text, #slide-2005-parallax .text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; }

#slide-2005 .text .inner, #slide-2005-parallax .text .inner {
  margin-top: -10vh;
  padding: 0 5vw 5vh 5vw; }

#slide-2005 > .inner > .before,
#slide-2005 > .inner > .background,
#slide-2005 > .inner > .bike-1,
#slide-2005 > .inner > .bike-2, #slide-2005-parallax > .inner > .before,
#slide-2005-parallax > .inner > .background,
#slide-2005-parallax > .inner > .bike-1,
#slide-2005-parallax > .inner > .bike-2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: transparent url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/2005_all.svg) no-repeat 50% 10%;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  -ms-behavior: url(http://cdn.citylab.com/static/citylab_connections/shared/backgroundsize.htc); }
  html.mdzr-no-svg #slide-2005 > .inner > .before,
  html.ie9 #slide-2005 > .inner > .before,
  html.mdzr-no-svg #slide-2005 > .inner > .background,
  html.ie9 #slide-2005 > .inner > .background,
  html.mdzr-no-svg #slide-2005 > .inner > .bike-1,
  html.ie9 #slide-2005 > .inner > .bike-1,
  html.mdzr-no-svg #slide-2005 > .inner > .bike-2, html.ie9 #slide-2005 > .inner > .bike-2, html.mdzr-no-svg #slide-2005-parallax > .inner > .before,
  html.ie9 #slide-2005-parallax > .inner > .before,
  html.mdzr-no-svg #slide-2005-parallax > .inner > .background,
  html.ie9 #slide-2005-parallax > .inner > .background,
  html.mdzr-no-svg #slide-2005-parallax > .inner > .bike-1,
  html.ie9 #slide-2005-parallax > .inner > .bike-1,
  html.mdzr-no-svg #slide-2005-parallax > .inner > .bike-2, html.ie9 #slide-2005-parallax > .inner > .bike-2 {
    background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/2005_all.png); }

#slide-2005 > .inner > .background, #slide-2005-parallax > .inner > .background {
  background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/2005_01.svg); }

#slide-2005 > .inner > .bike-1, #slide-2005-parallax > .inner > .bike-1 {
  background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/2005_02.svg); }

#slide-2005 > .inner > .bike-2, #slide-2005-parallax > .inner > .bike-2 {
  background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/2005_03.svg); }

@media (max-aspect-ratio: 9/8) {
  #slide-2005 {
    height: 85vh; } }

@media (max-aspect-ratio: 2/3) {
  #slide-2005 {
    height: 65vh; } }

.skrollr #slide-2005 {
  height: 225vh !important; }
  .skrollr #slide-2005 > .inner {
    display: none; }

#slide-2007 .text {
  position: absolute;
  z-index: auto;
  display: table;
  text-align: left;
  height: 100vh;
  top: 0;
  padding: 0 3vw;
  width: 26vw;
  right: 0;
  background: rgba(0, 0, 0, 0.5); }
  @media \0screen {
    #slide-2007 .text {
      zoom: 1;
      filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#80000000', endColorstr='#80000000'); } }

#slide-2007 .text .year {
  left: 0 !important; }

#slide-2007 .text .inner {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  z-index: 5; }

@media (max-aspect-ratio: 9/8) {
  #slide-2007 .text {
    width: 36.4vw; } }

@media (max-aspect-ratio: 2/3) and (max-width: 500px) {
  #slide-2007 .text {
    width: 46.8vw; } }

#slide-2007 > .inner > .before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/2007_velib-1920.jpg) no-repeat 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -ms-behavior: url(http://cdn.citylab.com/static/citylab_connections/shared/backgroundsize.htc); }
  @media (max-width: 768px), (max-height: 488px) {
    #slide-2007 > .inner > .before {
      background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/2007_velib-768.jpg); } }
  @media (max-width: 960px) and (min-width: 769px), (max-height: 610px) and (min-height: 489px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 480px), (-webkit-min-device-pixel-ratio: 2) and (max-height: 305px) {
    #slide-2007 > .inner > .before {
      background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/2007_velib-960.jpg); } }
  @media (max-width: 1280px) and (min-width: 961px), (max-height: 813px) and (min-height: 611px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 640px) and (min-width: 481px), (-webkit-min-device-pixel-ratio: 2) and (max-height: 406px) and (min-height: 306px) {
    #slide-2007 > .inner > .before {
      background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/2007_velib-1280.jpg); } }
  @media (max-width: 1440px) and (min-width: 1281px), (max-height: 915px) and (min-height: 814px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 720px) and (min-width: 641px), (-webkit-min-device-pixel-ratio: 2) and (max-height: 457px) and (min-height: 406px) {
    #slide-2007 > .inner > .before {
      background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/2007_velib-1440.jpg); } }
  @media (-webkit-min-device-pixel-ratio: 2) and (min-width: 721px), (-webkit-min-device-pixel-ratio: 2) and (min-height: 458px) {
    #slide-2007 > .inner > .before {
      background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/2007_velib-1920.jpg); } }

@media (min-width: 400px) and (max-width: 450px) {
  #slide-2007 .text p {
    font-size: 1.5em; } }

#slide-2008 .text, #slide-2008-parallax .text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; }

#slide-2008 .text .inner, #slide-2008-parallax .text .inner {
  margin-top: -10vh;
  padding: 0 5vw 5vh 5vw; }

#slide-2008 > .inner > .before,
#slide-2008 > .inner > .background,
#slide-2008 > .inner > .bike-1,
#slide-2008 > .inner > .bike-2, #slide-2008-parallax > .inner > .before,
#slide-2008-parallax > .inner > .background,
#slide-2008-parallax > .inner > .bike-1,
#slide-2008-parallax > .inner > .bike-2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  bottom: 40vh;
  height: 90vh;
  background: transparent url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/2008_all.svg) no-repeat 50% 10%;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  -ms-behavior: url(http://cdn.citylab.com/static/citylab_connections/shared/backgroundsize.htc); }
  html.mdzr-no-svg #slide-2008 > .inner > .before,
  html.ie9 #slide-2008 > .inner > .before,
  html.mdzr-no-svg #slide-2008 > .inner > .background,
  html.ie9 #slide-2008 > .inner > .background,
  html.mdzr-no-svg #slide-2008 > .inner > .bike-1,
  html.ie9 #slide-2008 > .inner > .bike-1,
  html.mdzr-no-svg #slide-2008 > .inner > .bike-2, html.ie9 #slide-2008 > .inner > .bike-2, html.mdzr-no-svg #slide-2008-parallax > .inner > .before,
  html.ie9 #slide-2008-parallax > .inner > .before,
  html.mdzr-no-svg #slide-2008-parallax > .inner > .background,
  html.ie9 #slide-2008-parallax > .inner > .background,
  html.mdzr-no-svg #slide-2008-parallax > .inner > .bike-1,
  html.ie9 #slide-2008-parallax > .inner > .bike-1,
  html.mdzr-no-svg #slide-2008-parallax > .inner > .bike-2, html.ie9 #slide-2008-parallax > .inner > .bike-2 {
    background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/2008_all.png); }

#slide-2008 > .inner > .background, #slide-2008-parallax > .inner > .background {
  background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/2008_01.svg); }

#slide-2008 > .inner > .bike-1, #slide-2008-parallax > .inner > .bike-1 {
  background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/2008_03.svg); }

#slide-2008 > .inner > .bike-2, #slide-2008-parallax > .inner > .bike-2 {
  background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/2008_02.svg); }

.skrollr #slide-2008 {
  height: 225vh !important; }
  .skrollr #slide-2008 > .inner {
    display: none; }

@media (min-width: 400px) and (max-width: 450px) {
  #slide-2008 .text p {
    font-size: 1.5em; } }

#slide-2009 .text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; }

#slide-2009 .text .inner {
  margin-top: -10vh;
  padding: 0 5vw 5vh 5vw; }

#slide-2009 > .inner > .before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/2009_bixi-1920.jpg) no-repeat 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -ms-behavior: url(http://cdn.citylab.com/static/citylab_connections/shared/backgroundsize.htc); }
  @media (max-width: 768px), (max-height: 488px) {
    #slide-2009 > .inner > .before {
      background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/2009_bixi-768.jpg); } }
  @media (max-width: 960px) and (min-width: 769px), (max-height: 610px) and (min-height: 489px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 480px), (-webkit-min-device-pixel-ratio: 2) and (max-height: 305px) {
    #slide-2009 > .inner > .before {
      background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/2009_bixi-960.jpg); } }
  @media (max-width: 1280px) and (min-width: 961px), (max-height: 813px) and (min-height: 611px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 640px) and (min-width: 481px), (-webkit-min-device-pixel-ratio: 2) and (max-height: 406px) and (min-height: 306px) {
    #slide-2009 > .inner > .before {
      background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/2009_bixi-1280.jpg); } }
  @media (max-width: 1440px) and (min-width: 1281px), (max-height: 915px) and (min-height: 814px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 720px) and (min-width: 641px), (-webkit-min-device-pixel-ratio: 2) and (max-height: 457px) and (min-height: 406px) {
    #slide-2009 > .inner > .before {
      background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/2009_bixi-1440.jpg); } }
  @media (-webkit-min-device-pixel-ratio: 2) and (min-width: 721px), (-webkit-min-device-pixel-ratio: 2) and (min-height: 458px) {
    #slide-2009 > .inner > .before {
      background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/2009_bixi-1920.jpg); } }

#slide-2009 .text .inner {
  padding-top: 2vh;
  background: rgba(0, 0, 0, 0.5); }
  @media \0screen {
    #slide-2009 .text .inner {
      zoom: 1;
      filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#80000000', endColorstr='#80000000'); } }

@media (max-aspect-ratio: 9/8) {
  #slide-2009 {
    height: 85vh; } }

@media (max-aspect-ratio: 2/3) {
  #slide-2009 {
    height: 65vh; } }

#slide-2010a .text, #slide-2010a-parallax .text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; }

#slide-2010a .text .inner, #slide-2010a-parallax .text .inner {
  margin-top: -10vh;
  padding: 0 5vw 5vh 5vw; }

#slide-2010a > .inner > .before,
#slide-2010a > .inner > .background,
#slide-2010a > .inner > .bike-1,
#slide-2010a > .inner > .bike-2,
#slide-2010a > .inner > .foreground, #slide-2010a-parallax > .inner > .before,
#slide-2010a-parallax > .inner > .background,
#slide-2010a-parallax > .inner > .bike-1,
#slide-2010a-parallax > .inner > .bike-2,
#slide-2010a-parallax > .inner > .foreground {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: transparent url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/2010_all.svg) no-repeat 50% 10%;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  -ms-behavior: url(http://cdn.citylab.com/static/citylab_connections/shared/backgroundsize.htc); }
  html.mdzr-no-svg #slide-2010a > .inner > .before,
  html.ie9 #slide-2010a > .inner > .before,
  html.mdzr-no-svg #slide-2010a > .inner > .background,
  html.ie9 #slide-2010a > .inner > .background,
  html.mdzr-no-svg #slide-2010a > .inner > .bike-1,
  html.ie9 #slide-2010a > .inner > .bike-1,
  html.mdzr-no-svg #slide-2010a > .inner > .bike-2,
  html.ie9 #slide-2010a > .inner > .bike-2,
  html.mdzr-no-svg #slide-2010a > .inner > .foreground, html.ie9 #slide-2010a > .inner > .foreground, html.mdzr-no-svg #slide-2010a-parallax > .inner > .before,
  html.ie9 #slide-2010a-parallax > .inner > .before,
  html.mdzr-no-svg #slide-2010a-parallax > .inner > .background,
  html.ie9 #slide-2010a-parallax > .inner > .background,
  html.mdzr-no-svg #slide-2010a-parallax > .inner > .bike-1,
  html.ie9 #slide-2010a-parallax > .inner > .bike-1,
  html.mdzr-no-svg #slide-2010a-parallax > .inner > .bike-2,
  html.ie9 #slide-2010a-parallax > .inner > .bike-2,
  html.mdzr-no-svg #slide-2010a-parallax > .inner > .foreground, html.ie9 #slide-2010a-parallax > .inner > .foreground {
    background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/2010_all.png); }

#slide-2010a > .inner > .background, #slide-2010a-parallax > .inner > .background {
  background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/2010_01.svg); }

#slide-2010a > .inner > .bike-1, #slide-2010a-parallax > .inner > .bike-1 {
  background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/2010_02.svg); }

#slide-2010a > .inner > .bike-2, #slide-2010a-parallax > .inner > .bike-2 {
  background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/2010_03.svg); }

#slide-2010a > .inner > .foreground, #slide-2010a-parallax > .inner > .foreground {
  background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/2010_solo_tree.svg); }

@media (max-aspect-ratio: 9/8) {
  #slide-2010a {
    height: 85vh; } }

@media (max-aspect-ratio: 2/3) {
  #slide-2010a {
    height: 75vh; } }

.skrollr #slide-2010a {
  height: 225vh !important; }
  .skrollr #slide-2010a > .inner {
    display: none; }

#slide-2010b, #slide-2010b-parallax {
  background-color: #d1d1d1; }
  #slide-2010b .text, #slide-2010b-parallax .text {
    position: absolute;
    z-index: auto;
    display: table;
    text-align: left;
    height: 100vh;
    top: 0;
    padding: 0 3vw;
    width: 25vw;
    right: 0;
    background: rgba(0, 0, 0, 0.5); }
    @media \0screen {
      #slide-2010b .text, #slide-2010b-parallax .text {
        zoom: 1;
        filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#80000000', endColorstr='#80000000'); } }
  #slide-2010b .text .year, #slide-2010b-parallax .text .year {
    left: 0 !important; }
  #slide-2010b .text .inner, #slide-2010b-parallax .text .inner {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    z-index: 5; }
  @media (max-aspect-ratio: 9/8) {
    #slide-2010b .text, #slide-2010b-parallax .text {
      width: 35vw; } }
  @media (max-aspect-ratio: 2/3) and (max-width: 500px) {
    #slide-2010b .text, #slide-2010b-parallax .text {
      width: 45vw; } }
  #slide-2010b > .inner > .before,
  #slide-2010b > .inner > .base,
  #slide-2010b > .inner > .overlay, #slide-2010b-parallax > .inner > .before,
  #slide-2010b-parallax > .inner > .base,
  #slide-2010b-parallax > .inner > .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/2010_map_all-1920.png) no-repeat 0 0;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    -ms-behavior: url(http://cdn.citylab.com/static/citylab_connections/shared/backgroundsize.htc); }
    @media (max-width: 768px), (max-height: 488px) {
      #slide-2010b > .inner > .before,
      #slide-2010b > .inner > .base,
      #slide-2010b > .inner > .overlay, #slide-2010b-parallax > .inner > .before,
      #slide-2010b-parallax > .inner > .base,
      #slide-2010b-parallax > .inner > .overlay {
        background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/2010_map_all-768.png); } }
    @media (max-width: 960px) and (min-width: 769px), (max-height: 610px) and (min-height: 489px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 480px), (-webkit-min-device-pixel-ratio: 2) and (max-height: 305px) {
      #slide-2010b > .inner > .before,
      #slide-2010b > .inner > .base,
      #slide-2010b > .inner > .overlay, #slide-2010b-parallax > .inner > .before,
      #slide-2010b-parallax > .inner > .base,
      #slide-2010b-parallax > .inner > .overlay {
        background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/2010_map_all-960.png); } }
    @media (max-width: 1280px) and (min-width: 961px), (max-height: 813px) and (min-height: 611px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 640px) and (min-width: 481px), (-webkit-min-device-pixel-ratio: 2) and (max-height: 406px) and (min-height: 306px) {
      #slide-2010b > .inner > .before,
      #slide-2010b > .inner > .base,
      #slide-2010b > .inner > .overlay, #slide-2010b-parallax > .inner > .before,
      #slide-2010b-parallax > .inner > .base,
      #slide-2010b-parallax > .inner > .overlay {
        background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/2010_map_all-1280.png); } }
    @media (max-width: 1440px) and (min-width: 1281px), (max-height: 915px) and (min-height: 814px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 720px) and (min-width: 641px), (-webkit-min-device-pixel-ratio: 2) and (max-height: 457px) and (min-height: 406px) {
      #slide-2010b > .inner > .before,
      #slide-2010b > .inner > .base,
      #slide-2010b > .inner > .overlay, #slide-2010b-parallax > .inner > .before,
      #slide-2010b-parallax > .inner > .base,
      #slide-2010b-parallax > .inner > .overlay {
        background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/2010_map_all-1440.png); } }
    @media (-webkit-min-device-pixel-ratio: 2) and (min-width: 721px), (-webkit-min-device-pixel-ratio: 2) and (min-height: 458px) {
      #slide-2010b > .inner > .before,
      #slide-2010b > .inner > .base,
      #slide-2010b > .inner > .overlay, #slide-2010b-parallax > .inner > .before,
      #slide-2010b-parallax > .inner > .base,
      #slide-2010b-parallax > .inner > .overlay {
        background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/2010_map_all-1920.png); } }
  #slide-2010b > .inner > .overlay, #slide-2010b-parallax > .inner > .overlay {
    opacity: 0; }
  #slide-2010b > .inner > .base, #slide-2010b-parallax > .inner > .base {
    background: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/2010_map_empty-1920.png) no-repeat 0 0;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    -ms-behavior: url(http://cdn.citylab.com/static/citylab_connections/shared/backgroundsize.htc); }
    @media (max-width: 768px), (max-height: 488px) {
      #slide-2010b > .inner > .base, #slide-2010b-parallax > .inner > .base {
        background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/2010_map_empty-768.png); } }
    @media (max-width: 960px) and (min-width: 769px), (max-height: 610px) and (min-height: 489px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 480px), (-webkit-min-device-pixel-ratio: 2) and (max-height: 305px) {
      #slide-2010b > .inner > .base, #slide-2010b-parallax > .inner > .base {
        background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/2010_map_empty-960.png); } }
    @media (max-width: 1280px) and (min-width: 961px), (max-height: 813px) and (min-height: 611px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 640px) and (min-width: 481px), (-webkit-min-device-pixel-ratio: 2) and (max-height: 406px) and (min-height: 306px) {
      #slide-2010b > .inner > .base, #slide-2010b-parallax > .inner > .base {
        background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/2010_map_empty-1280.png); } }
    @media (max-width: 1440px) and (min-width: 1281px), (max-height: 915px) and (min-height: 814px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 720px) and (min-width: 641px), (-webkit-min-device-pixel-ratio: 2) and (max-height: 457px) and (min-height: 406px) {
      #slide-2010b > .inner > .base, #slide-2010b-parallax > .inner > .base {
        background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/2010_map_empty-1440.png); } }
    @media (-webkit-min-device-pixel-ratio: 2) and (min-width: 721px), (-webkit-min-device-pixel-ratio: 2) and (min-height: 458px) {
      #slide-2010b > .inner > .base, #slide-2010b-parallax > .inner > .base {
        background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/2010_map_empty-1920.png); } }
  #slide-2010b > .inner > .overlay-1, #slide-2010b-parallax > .inner > .overlay-1 {
    background: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/2010_map_01-1920.png) no-repeat 0 0;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    -ms-behavior: url(http://cdn.citylab.com/static/citylab_connections/shared/backgroundsize.htc); }
    @media (max-width: 768px), (max-height: 488px) {
      #slide-2010b > .inner > .overlay-1, #slide-2010b-parallax > .inner > .overlay-1 {
        background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/2010_map_01-768.png); } }
    @media (max-width: 960px) and (min-width: 769px), (max-height: 610px) and (min-height: 489px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 480px), (-webkit-min-device-pixel-ratio: 2) and (max-height: 305px) {
      #slide-2010b > .inner > .overlay-1, #slide-2010b-parallax > .inner > .overlay-1 {
        background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/2010_map_01-960.png); } }
    @media (max-width: 1280px) and (min-width: 961px), (max-height: 813px) and (min-height: 611px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 640px) and (min-width: 481px), (-webkit-min-device-pixel-ratio: 2) and (max-height: 406px) and (min-height: 306px) {
      #slide-2010b > .inner > .overlay-1, #slide-2010b-parallax > .inner > .overlay-1 {
        background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/2010_map_01-1280.png); } }
    @media (max-width: 1440px) and (min-width: 1281px), (max-height: 915px) and (min-height: 814px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 720px) and (min-width: 641px), (-webkit-min-device-pixel-ratio: 2) and (max-height: 457px) and (min-height: 406px) {
      #slide-2010b > .inner > .overlay-1, #slide-2010b-parallax > .inner > .overlay-1 {
        background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/2010_map_01-1440.png); } }
    @media (-webkit-min-device-pixel-ratio: 2) and (min-width: 721px), (-webkit-min-device-pixel-ratio: 2) and (min-height: 458px) {
      #slide-2010b > .inner > .overlay-1, #slide-2010b-parallax > .inner > .overlay-1 {
        background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/2010_map_01-1920.png); } }
  #slide-2010b > .inner > .overlay-2, #slide-2010b-parallax > .inner > .overlay-2 {
    background: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/2010_map_02-1920.png) no-repeat 0 0;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    -ms-behavior: url(http://cdn.citylab.com/static/citylab_connections/shared/backgroundsize.htc); }
    @media (max-width: 768px), (max-height: 488px) {
      #slide-2010b > .inner > .overlay-2, #slide-2010b-parallax > .inner > .overlay-2 {
        background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/2010_map_02-768.png); } }
    @media (max-width: 960px) and (min-width: 769px), (max-height: 610px) and (min-height: 489px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 480px), (-webkit-min-device-pixel-ratio: 2) and (max-height: 305px) {
      #slide-2010b > .inner > .overlay-2, #slide-2010b-parallax > .inner > .overlay-2 {
        background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/2010_map_02-960.png); } }
    @media (max-width: 1280px) and (min-width: 961px), (max-height: 813px) and (min-height: 611px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 640px) and (min-width: 481px), (-webkit-min-device-pixel-ratio: 2) and (max-height: 406px) and (min-height: 306px) {
      #slide-2010b > .inner > .overlay-2, #slide-2010b-parallax > .inner > .overlay-2 {
        background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/2010_map_02-1280.png); } }
    @media (max-width: 1440px) and (min-width: 1281px), (max-height: 915px) and (min-height: 814px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 720px) and (min-width: 641px), (-webkit-min-device-pixel-ratio: 2) and (max-height: 457px) and (min-height: 406px) {
      #slide-2010b > .inner > .overlay-2, #slide-2010b-parallax > .inner > .overlay-2 {
        background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/2010_map_02-1440.png); } }
    @media (-webkit-min-device-pixel-ratio: 2) and (min-width: 721px), (-webkit-min-device-pixel-ratio: 2) and (min-height: 458px) {
      #slide-2010b > .inner > .overlay-2, #slide-2010b-parallax > .inner > .overlay-2 {
        background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/2010_map_02-1920.png); } }
  #slide-2010b > .inner > .overlay-3, #slide-2010b-parallax > .inner > .overlay-3 {
    background: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/2010_map_03-1920.png) no-repeat 0 0;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    -ms-behavior: url(http://cdn.citylab.com/static/citylab_connections/shared/backgroundsize.htc); }
    @media (max-width: 768px), (max-height: 488px) {
      #slide-2010b > .inner > .overlay-3, #slide-2010b-parallax > .inner > .overlay-3 {
        background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/2010_map_03-768.png); } }
    @media (max-width: 960px) and (min-width: 769px), (max-height: 610px) and (min-height: 489px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 480px), (-webkit-min-device-pixel-ratio: 2) and (max-height: 305px) {
      #slide-2010b > .inner > .overlay-3, #slide-2010b-parallax > .inner > .overlay-3 {
        background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/2010_map_03-960.png); } }
    @media (max-width: 1280px) and (min-width: 961px), (max-height: 813px) and (min-height: 611px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 640px) and (min-width: 481px), (-webkit-min-device-pixel-ratio: 2) and (max-height: 406px) and (min-height: 306px) {
      #slide-2010b > .inner > .overlay-3, #slide-2010b-parallax > .inner > .overlay-3 {
        background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/2010_map_03-1280.png); } }
    @media (max-width: 1440px) and (min-width: 1281px), (max-height: 915px) and (min-height: 814px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 720px) and (min-width: 641px), (-webkit-min-device-pixel-ratio: 2) and (max-height: 457px) and (min-height: 406px) {
      #slide-2010b > .inner > .overlay-3, #slide-2010b-parallax > .inner > .overlay-3 {
        background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/2010_map_03-1440.png); } }
    @media (-webkit-min-device-pixel-ratio: 2) and (min-width: 721px), (-webkit-min-device-pixel-ratio: 2) and (min-height: 458px) {
      #slide-2010b > .inner > .overlay-3, #slide-2010b-parallax > .inner > .overlay-3 {
        background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/2010_map_03-1920.png); } }
  #slide-2010b > .inner > .overlay-4, #slide-2010b-parallax > .inner > .overlay-4 {
    background: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/2010_map_04-1920.png) no-repeat 0 0;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    -ms-behavior: url(http://cdn.citylab.com/static/citylab_connections/shared/backgroundsize.htc); }
    @media (max-width: 768px), (max-height: 488px) {
      #slide-2010b > .inner > .overlay-4, #slide-2010b-parallax > .inner > .overlay-4 {
        background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/2010_map_04-768.png); } }
    @media (max-width: 960px) and (min-width: 769px), (max-height: 610px) and (min-height: 489px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 480px), (-webkit-min-device-pixel-ratio: 2) and (max-height: 305px) {
      #slide-2010b > .inner > .overlay-4, #slide-2010b-parallax > .inner > .overlay-4 {
        background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/2010_map_04-960.png); } }
    @media (max-width: 1280px) and (min-width: 961px), (max-height: 813px) and (min-height: 611px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 640px) and (min-width: 481px), (-webkit-min-device-pixel-ratio: 2) and (max-height: 406px) and (min-height: 306px) {
      #slide-2010b > .inner > .overlay-4, #slide-2010b-parallax > .inner > .overlay-4 {
        background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/2010_map_04-1280.png); } }
    @media (max-width: 1440px) and (min-width: 1281px), (max-height: 915px) and (min-height: 814px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 720px) and (min-width: 641px), (-webkit-min-device-pixel-ratio: 2) and (max-height: 457px) and (min-height: 406px) {
      #slide-2010b > .inner > .overlay-4, #slide-2010b-parallax > .inner > .overlay-4 {
        background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/2010_map_04-1440.png); } }
    @media (-webkit-min-device-pixel-ratio: 2) and (min-width: 721px), (-webkit-min-device-pixel-ratio: 2) and (min-height: 458px) {
      #slide-2010b > .inner > .overlay-4, #slide-2010b-parallax > .inner > .overlay-4 {
        background-image: url(/static/citylab_connections/bike_share/images/2010_map_04-1920.png); } }
  #slide-2010b > .inner > .overlay-5, #slide-2010b-parallax > .inner > .overlay-5 {
    background: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/2010_map_05-1920.png) no-repeat 0 0;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    -ms-behavior: url(http://cdn.citylab.com/static/citylab_connections/shared/backgroundsize.htc); }
    @media (max-width: 768px), (max-height: 488px) {
      #slide-2010b > .inner > .overlay-5, #slide-2010b-parallax > .inner > .overlay-5 {
        background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/2010_map_05-768.png); } }
    @media (max-width: 960px) and (min-width: 769px), (max-height: 610px) and (min-height: 489px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 480px), (-webkit-min-device-pixel-ratio: 2) and (max-height: 305px) {
      #slide-2010b > .inner > .overlay-5, #slide-2010b-parallax > .inner > .overlay-5 {
        background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/2010_map_05-960.png); } }
    @media (max-width: 1280px) and (min-width: 961px), (max-height: 813px) and (min-height: 611px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 640px) and (min-width: 481px), (-webkit-min-device-pixel-ratio: 2) and (max-height: 406px) and (min-height: 306px) {
      #slide-2010b > .inner > .overlay-5, #slide-2010b-parallax > .inner > .overlay-5 {
        background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/2010_map_05-1280.png); } }
    @media (max-width: 1440px) and (min-width: 1281px), (max-height: 915px) and (min-height: 814px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 720px) and (min-width: 641px), (-webkit-min-device-pixel-ratio: 2) and (max-height: 457px) and (min-height: 406px) {
      #slide-2010b > .inner > .overlay-5, #slide-2010b-parallax > .inner > .overlay-5 {
        background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/2010_map_05-1440.png); } }
    @media (-webkit-min-device-pixel-ratio: 2) and (min-width: 721px), (-webkit-min-device-pixel-ratio: 2) and (min-height: 458px) {
      #slide-2010b > .inner > .overlay-5, #slide-2010b-parallax > .inner > .overlay-5 {
        background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/2010_map_05-1920.png); } }
  #slide-2010b > .inner > .overlay-6, #slide-2010b-parallax > .inner > .overlay-6 {
    background: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/2010_map_06-1920.png) no-repeat 0 0;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    -ms-behavior: url(http://cdn.citylab.com/static/citylab_connections/shared/backgroundsize.htc); }
    @media (max-width: 768px), (max-height: 488px) {
      #slide-2010b > .inner > .overlay-6, #slide-2010b-parallax > .inner > .overlay-6 {
        background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/2010_map_06-768.png); } }
    @media (max-width: 960px) and (min-width: 769px), (max-height: 610px) and (min-height: 489px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 480px), (-webkit-min-device-pixel-ratio: 2) and (max-height: 305px) {
      #slide-2010b > .inner > .overlay-6, #slide-2010b-parallax > .inner > .overlay-6 {
        background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/2010_map_06-960.png); } }
    @media (max-width: 1280px) and (min-width: 961px), (max-height: 813px) and (min-height: 611px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 640px) and (min-width: 481px), (-webkit-min-device-pixel-ratio: 2) and (max-height: 406px) and (min-height: 306px) {
      #slide-2010b > .inner > .overlay-6, #slide-2010b-parallax > .inner > .overlay-6 {
        background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/2010_map_06-1280.png); } }
    @media (max-width: 1440px) and (min-width: 1281px), (max-height: 915px) and (min-height: 814px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 720px) and (min-width: 641px), (-webkit-min-device-pixel-ratio: 2) and (max-height: 457px) and (min-height: 406px) {
      #slide-2010b > .inner > .overlay-6, #slide-2010b-parallax > .inner > .overlay-6 {
        background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/2010_map_06-1440.png); } }
    @media (-webkit-min-device-pixel-ratio: 2) and (min-width: 721px), (-webkit-min-device-pixel-ratio: 2) and (min-height: 458px) {
      #slide-2010b > .inner > .overlay-6, #slide-2010b-parallax > .inner > .overlay-6 {
        background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/2010_map_06-1920.png); } }
  #slide-2010b .text, #slide-2010b-parallax .text {
    padding-left: 2vw;
    padding-right: 2vw; }
  @media (max-aspect-ratio: 9/8) {
    #slide-2010b .text, #slide-2010b-parallax .text {
      width: auto !important;
      height: auto !important;
      padding: 2vh 3vw;
      top: auto;
      bottom: 0; }
    #slide-2010b > .inner > .before,
    #slide-2010b > .inner > .base,
    #slide-2010b > .inner > .overlay, #slide-2010b-parallax > .inner > .before,
    #slide-2010b-parallax > .inner > .base,
    #slide-2010b-parallax > .inner > .overlay {
      width: 105%;
      left: 10%; } }
  @media (max-aspect-ratio: 3/4) {
    #slide-2010b > .inner > .before,
    #slide-2010b > .inner > .base,
    #slide-2010b > .inner > .overlay, #slide-2010b-parallax > .inner > .before,
    #slide-2010b-parallax > .inner > .base,
    #slide-2010b-parallax > .inner > .overlay {
      width: 125%;
      left: 1%; } }
  #slide-2010b .text p, #slide-2010b-parallax .text p {
    font-size: 1.1em; }
    @media (min-width: 800px) and (min-height: 600px) {
      #slide-2010b .text p, #slide-2010b-parallax .text p {
        font-size: 15px; } }
    @media (min-width: 400px) and (max-width: 450px) {
      #slide-2010b .text p, #slide-2010b-parallax .text p {
        font-size: 1.5em; } }
    @media (max-aspect-ratio: 2/3) and (max-width: 500px) {
      #slide-2010b .text p, #slide-2010b-parallax .text p {
        font-size: 1.6em; } }

.skrollr #slide-2010b {
  height: 200vh !important; }
  .skrollr #slide-2010b > .inner {
    display: none; }

#slide-2013 .text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; }

#slide-2013 .text .inner {
  margin-top: -10vh;
  padding: 0 5vw 5vh 5vw; }

#slide-2013 > .inner > .before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: transparent url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/2013_all.svg) no-repeat 50% 10%;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  -ms-behavior: url(http://cdn.citylab.com/static/citylab_connections/shared/backgroundsize.htc); }
  html.mdzr-no-svg #slide-2013 > .inner > .before, html.ie9 #slide-2013 > .inner > .before {
    background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/2013_all.png); }

#slide-2014 .text {
  position: absolute;
  z-index: auto;
  display: table;
  text-align: left;
  height: 100vh;
  top: 0;
  padding: 0 3vw;
  width: 26vw;
  left: 0;
  background: rgba(0, 0, 0, 0.5); }
  @media \0screen {
    #slide-2014 .text {
      zoom: 1;
      filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#80000000', endColorstr='#80000000'); } }

#slide-2014 .text .year {
  left: 0 !important; }

#slide-2014 .text .inner {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  z-index: 5; }

@media (max-aspect-ratio: 9/8) {
  #slide-2014 .text {
    width: 36.4vw; } }

@media (max-aspect-ratio: 2/3) and (max-width: 500px) {
  #slide-2014 .text {
    width: 46.8vw; } }

#slide-2014 > .inner > .before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/2014_montreal-1920.jpg) no-repeat 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -ms-behavior: url(http://cdn.citylab.com/static/citylab_connections/shared/backgroundsize.htc); }
  @media (max-width: 768px), (max-height: 488px) {
    #slide-2014 > .inner > .before {
      background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/2014_montreal-768.jpg); } }
  @media (max-width: 960px) and (min-width: 769px), (max-height: 610px) and (min-height: 489px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 480px), (-webkit-min-device-pixel-ratio: 2) and (max-height: 305px) {
    #slide-2014 > .inner > .before {
      background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/2014_montreal-960.jpg); } }
  @media (max-width: 1280px) and (min-width: 961px), (max-height: 813px) and (min-height: 611px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 640px) and (min-width: 481px), (-webkit-min-device-pixel-ratio: 2) and (max-height: 406px) and (min-height: 306px) {
    #slide-2014 > .inner > .before {
      background-image: url(/static/citylab_connections/bike_share/images/2014_montreal-1280.jpg); } }
  @media (max-width: 1440px) and (min-width: 1281px), (max-height: 915px) and (min-height: 814px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 720px) and (min-width: 641px), (-webkit-min-device-pixel-ratio: 2) and (max-height: 457px) and (min-height: 406px) {
    #slide-2014 > .inner > .before {
      background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/2014_montreal-1440.jpg); } }
  @media (-webkit-min-device-pixel-ratio: 2) and (min-width: 721px), (-webkit-min-device-pixel-ratio: 2) and (min-height: 458px) {
    #slide-2014 > .inner > .before {
      background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/2014_montreal-1920.jpg); } }

#slide-2015 .text, #slide-2015-parallax .text {
  position: absolute;
  z-index: auto;
  display: table;
  text-align: left;
  height: 100vh;
  top: 0;
  padding: 0 3vw;
  width: 26vw;
  right: 0;
  background: rgba(0, 0, 0, 0.5); }
  @media \0screen {
    #slide-2015 .text, #slide-2015-parallax .text {
      zoom: 1;
      filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#80000000', endColorstr='#80000000'); } }

#slide-2015 .text .year, #slide-2015-parallax .text .year {
  left: 0 !important; }

#slide-2015 .text .inner, #slide-2015-parallax .text .inner {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  z-index: 5; }

@media (max-aspect-ratio: 9/8) {
  #slide-2015 .text, #slide-2015-parallax .text {
    width: 36.4vw; } }

@media (max-aspect-ratio: 2/3) and (max-width: 500px) {
  #slide-2015 .text, #slide-2015-parallax .text {
    width: 46.8vw; } }

#slide-2015 .text, #slide-2015-parallax .text {
  background: transparent;
  filter: none !important; }

#slide-2015 > .inner > .before,
#slide-2015 > .inner > .overlay,
#slide-2015 > .inner > .base, #slide-2015-parallax > .inner > .before,
#slide-2015-parallax > .inner > .overlay,
#slide-2015-parallax > .inner > .base {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: transparent url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/2015_02.svg) no-repeat 50% 10%;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  -ms-behavior: url(http://cdn.citylab.com/static/citylab_connections/shared/backgroundsize.htc); }
  html.mdzr-no-svg #slide-2015 > .inner > .before,
  html.ie9 #slide-2015 > .inner > .before,
  html.mdzr-no-svg #slide-2015 > .inner > .overlay,
  html.ie9 #slide-2015 > .inner > .overlay,
  html.mdzr-no-svg #slide-2015 > .inner > .base, html.ie9 #slide-2015 > .inner > .base, html.mdzr-no-svg #slide-2015-parallax > .inner > .before,
  html.ie9 #slide-2015-parallax > .inner > .before,
  html.mdzr-no-svg #slide-2015-parallax > .inner > .overlay,
  html.ie9 #slide-2015-parallax > .inner > .overlay,
  html.mdzr-no-svg #slide-2015-parallax > .inner > .base, html.ie9 #slide-2015-parallax > .inner > .base {
    background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/2015_02.png); }

#slide-2015 > .inner > .overlay, #slide-2015-parallax > .inner > .overlay {
  background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/2015_02.svg); }

#slide-2015 > .inner > .base, #slide-2015-parallax > .inner > .base {
  background-image: url(http://cdn.citylab.com/static/citylab_connections/bike_share/images/2015_01.svg); }

@media (max-aspect-ratio: 9/8) {
  #slide-2015 .text, #slide-2015-parallax .text {
    width: auto !important;
    height: auto !important;
    padding: 3vh 3vw;
    top: auto;
    bottom: 0; }
  #slide-2015 > .inner > .before,
  #slide-2015 > .inner > .overlay,
  #slide-2015 > .inner > .base, #slide-2015-parallax > .inner > .before,
  #slide-2015-parallax > .inner > .overlay,
  #slide-2015-parallax > .inner > .base {
    height: 75vh;
    width: 133%; } }

@media (max-aspect-ratio: 3/4) {
  #slide-2015, #slide-2015-parallax {
    height: 80vh; }
    #slide-2015 > .inner > .before, #slide-2015-parallax > .inner > .before {
      width: 133%; } }

#slide-2015-parallax {
  height: 100vh !important; }

.skrollr #slide-2015 {
  height: 200vh !important; }
  .skrollr #slide-2015 > .inner {
    display: none; }
